# Core
# -------------------------------------
Django
gunicorn

# Extensions
# -------------------------------------
pytz
django-extensions

# Authentication
# -------------------------------------
django-allauth

# Configuration
# -------------------------------------
django-environ
python-dotenv

# Models
# -------------------------------------
psycopg2
django-model-utils
django-uuid-upload-path
Pillow
django-versatileimagefield

# Debugging
# -------------------------------------
django-debug-toolbar
ipdb
ipython

# Testing/Linting
# -------------------------------------
Flake8
isort
pytest-django
pytest-pythonpath
pytest-cov
factory_boy
fake-factory
mock
